###############################################################
# DTLZ1_2.config                                              #
#                                                             #
# Configuration file of the genetic algorithm.                #
###############################################################

# Population size
Psize = 120 

# Maximum number of generations
Gmax = 416

# Objective function
Function = DTLZ1

# Number of decision variables
N = 6 

# Number of objective functions
M = 2

# Range of decision variables
Rmin:* = 0
Rmax:* = 1

# Number of weight vectors
Wsize = 120

# Weight vector file
Wfile = ./weight/w119_2.dat

# Crossover probability
Pc = 0.9 

# Crossover distribution index (SBX)
Nc = 20

# Mutation probability (by default -1 is equivalent to Pm = 1/N)
Pm = -1

# Mutation distribution index (Real polynomial mutation)
Nm = 20

# Prints out details of the program (0 disabled, 1 enabled)
Debug = 0 

# Plots for 2 or 3 objectives (0 disabled, 1 enabled)
Plot = 0

# True Pareto front
PFTrue =
#./PFTrue/paretoDTLZ1.dat

